.frst .frstdiv .col-md-3 .h3{font-family:'Dancing Script', cursive;}
.frstdiv{background:#1e1e5a;}
.frst a{text-decoration:none;text-transform:capitalize;display:block;padding:20px 20px;color:#fff;
	margin-top:15px}
.footer_03 .menu li{list-style:none;float:left;padding:5px 10px;font-weight:bold;font-size:16px;color:#fff;}
.frstdiv{height:60px;width:100%}
.scnd{background:#3cb31e;padding-top:0px;}
.scnd .menu_list li{list-style:none;float:left;text-align:center}
.scnddiv a{text-decoration:none;text-transform:capitalize;display:block;padding:10px 20px;color:#fff;
	margin-top:15px}
.footer_02, .logo{font-size:18px; padding:10px 0;background:#1e1e5a;color:#fff;}
.footerthrd .col-md-12 .menu{background:#1e1e5a;}
.footer_01 h4,.footer_04 h4{background:#1e1e5a;color:#fff;padding:5px 0;}
.footer_03,.footer_04{background:#1e1e5a}
.row .col-md-9 .f_2{padding-top:2px;font-weight:bold;color:#1e1e5a;}
.row .col-md-9 .f_1{padding-top:3px;font-weight:bold;color:#3cb31e;}
.frst .frstdiv .col-md-3 h3{color:#fff;}